<div class="socaial">
  <div class="socaial-item">
    <a class="circle insta"
      target="_blank"
      href="https://www.instagram.com/yaroslav__s__/"
      title="Перейти"
      >
      <i class="fab fa-instagram"></i>
    </a>
    <div class="line insta"> <div class="name">Instagram</div></div>
    <div class="text" 
      ngxClipboard 
      [cbContent]="'https://www.instagram.com/yaroslav__s__/'"
      >
      <span
        (click)="copy($event)"
        >https://www.instagram.com/yaroslav__s__/
      </span>
    </div>
  </div>
  <div class="socaial-item">
    <div class="circle facebook"><i class="fab fa-facebook-f"></i></div>
    <div class="line facebook"> <div class="name">Facebook</div></div>
    <div class="text">https://www.instagram.com/yaroslav__s__/</div>
  </div>
  <div class="socaial-item">
    <div class="circle telegram"><i class="fab fa-telegram-plane"></i></div>
    <div class="line telegram"> <div class="name">Instagram</div></div>
    <div class="text">https://www.instagram.com/yaroslav__s__/</div>
  </div>
  <div class="socaial-item">
    <div class="circle vk"><i class="fab fa-vk"></i></div>
    <div class="line vk"> <div class="name">Instagram</div></div>
    <div class="text">https://www.instagram.com/yaroslav__s__/</div>
  </div>
  <div class="socaial-item">
    <div class="circle twitter"><i class="fab fa-twitter"></i></div>
    <div class="line twitter"> <div class="name">Instagram</div></div>
    <div class="text">https://www.instagram.com/yaroslav__s__/</div>
  </div>
</div>