<div class="socaial" *ngIf="user.social">
  <ng-container *ngFor="let social of user.social | keyvalue">
    <div class="socaial-item" *ngIf="social.value" >

      <a [ngClass]="[social.key, 'circle']"
        target="_blank"
        [href]="social.value"
        title="Перейти"
        >

        <ng-container [ngSwitch]="social.key">
          <i *ngSwitchCase="'instagram'" class="fab fa-instagram"></i>
          <i *ngSwitchCase="'facebook'" class="fab fa-facebook-f"></i>
          <i *ngSwitchCase="'telegram'" class="fab fa-telegram-plane"></i>
          <i *ngSwitchCase="'vk'" class="fab fa-vk"></i>
          <i *ngSwitchCase="'twitter'" class="fab fa-twitter"></i>
        </ng-container>

      </a>
      <div [ngClass]="[social.key, 'line']">
        <div class="name">
          {{social.key}}
        </div>
      </div>
      <div class="text" 
        ngxClipboard 
        [cbContent]="social.value"
        >
        <span
          (click)="copy($event)"
          >{{social.value}}
        </span>
      </div>
    </div>
  </ng-container>
</div>