<section>
    <button mat-icon-button class="menu-btn" (click)="openMenu()">
        <i class="fas fa-bars"></i>
    </button>
    <h2 class="header-h2 center">Выбирай с умом</h2>
    <div class="choise" *ngIf="photos$ | async as photos; else loader">

        <ng-container *ngIf="photos.photos.length >= 2; else noPhoto">
            <div class="choise-photo">
                <choise-photo 
                    (onVote)="onVote($event)" 
                    [photo]="photos.photos[0]"
                    (onVoteSuperLike)="onVoteSuperLike($event)"
                    >
                </choise-photo>
                <choise-photo 
                    (onVote)="onVote($event)" 
                    [photo]="photos.photos[1]"
                    (onVoteSuperLike)="onVoteSuperLike($event)"
                    >
                </choise-photo>
            </div>
            <div class="button-wrapper">
                <button (click)="skip()" mat-raised-button color="primary">Пропустить</button>
            </div>
        </ng-container>
        <ng-template #noPhoto>
            <p class="center no-users-text">
                Проверьте ввели ли вы <strong>регион</strong> и <strong>пол</strong> в настройках, если да,<br>
                то пока просто не хватает пользователей, зовите друзей и играйте)
            </p>
        </ng-template>
        

    </div>
    <ng-template #loader>
        <div class="center">
            <div class="flex-center">
                <mat-spinner diameter="45"></mat-spinner>
            </div>
        </div>
    </ng-template>

</section>