<section>
    <h2 class="center">Выбирай с умом</h2>
    <div class="choise" *ngIf="photos$ | async as photos; else loader">
        <div class="choise-photo">
            <choise-photo (onVote)="onVote($event)" [photo]="photos.photos[0]"></choise-photo>
            <choise-photo (onVote)="onVote($event)" [photo]="photos.photos[1]"></choise-photo>
        </div>
        <div class="button-wrapper">
            <button (click)="skip()" mat-raised-button color="primary">Пропустить</button>
        </div>
    </div>
    <ng-template #loader>
        <div class="center">
            <div class="flex-center">
                <mat-spinner diameter="45"></mat-spinner>
            </div>
        </div>
    </ng-template>

</section>