.choise-photo{
  display: flex;
  justify-content: space-around ;
  float: left;
  height: 100%;
}
.choise{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.button-wrapper{
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  float: left;
  display: flex;
  justify-content: center;
}