.photo-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 3px 7px -2px #000;
    border-radius: 5px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &:hover{
        cursor: pointer;
        .menu{
            opacity: 1;
            visibility: visible;
        }
    }
}
:host{
    width: 45%;
    height: 480px;
    max-width: 500px;
}
.menu{
    position: absolute;
    top: 0.5em;
    width: 40px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    visibility: hidden;
    box-shadow: 0 3px 8px -2px #000;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    right: 0.5em;
    i{
        font-size: 1.3rem;
    }
}


@media (max-width: 850px){
    :host{
        height: 420px;
    }
}
@media (max-width: 768px){
    :host{
        height: 390px;
    }
}
@media (max-width: 676px){
    :host{
        height: 340px;
    }
}
@media (max-width: 586px){
    :host{
        width: 100%;
        height: auto;
        margin-bottom: .75rem;
        max-height: 670px;
    }
    .photo-wrapper{
        border-radius: 0;
    }
}