<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Регистрация</h2>
  <p class="hello-text">Уже есть аккаунт? Тогда <a routerLink="../login">войдите</a></p>
  <mat-form-field class="input-field col s12">
    <input  
      matInput 
      type="text"
      placeholder="Email"
      formControlName="email"
      [ngClass]="{'invalid': form.get('email').invalid && form.get('email').touched}">
    <mat-error  class="helper-text red-text" *ngIf="form.get('email').errors && form.get('email').touched">
      <span *ngIf="form.get('email').errors.required">
        Введите свой email
      </span>
      <span *ngIf="form.get('email').errors.email && !form.get('email').errors.requaired">
        Введите правильный email
      </span>
    </mat-error >
  </mat-form-field>
  <mat-form-field class="input-field col s12">
    <input 
      type="text" 
      formControlName="nickname"
      placeholder="Ник"
      matInput
      [ngClass]="{'invalid': form.get('nickname').invalid && form.get('nickname').touched}">
    <mat-error  class="helper-text red-text" *ngIf="form.get('nickname').errors && form.get('nickname').touched">
      <span *ngIf="form.get('nickname').errors.required">
        Введите свой ник
      </span>
      <span *ngIf="form.get('nickname').errors.minlength && !form.get('nickname').errors.requaired">
        Минимум {{form.get('nickname').errors.minlength.requiredLength}} символа
        сейчас {{form.get('nickname').errors.minlength.actualLength}}
      </span>
    </mat-error >
  </mat-form-field>
  <mat-form-field class="input-field col s12">
    <input 
      type="password"
      formControlName="password"
      matInput
      placeholder="Пароль"
      [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}">
    <mat-error  class="helper-text red-text" *ngIf="form.get('password').errors && form.get('password').touched">
      <span *ngIf="form.get('password').errors.required">
        Введите свой пароль
      </span>
      <span *ngIf="form.get('password').errors.minlength && !form.get('password').errors.requaired">
        Минимум {{form.get('password').errors.minlength.requiredLength}} символов
        сейчас {{form.get('password').errors.minlength.actualLength}}
      </span>
    </mat-error >
  </mat-form-field>
  <button 
    type="submit" 
    mat-raised-button
    color="primary"
    *ngIf="!loader; else load"
    >Регистрация
  </button>
  <ng-template #load>
    <div class="flex-center">
      <mat-spinner diameter="38"></mat-spinner>
    </div>

  </ng-template>

</form>