<div class="layout ">
  <div class="container">
    <div class="row">
      <div class="col l6 right-panel">
        <h1 class="center">Choiser</h1>
        <p>Мы рады привецтвовать вас на нашем сайте. Ваша
            основная цель выбиться в ТОП.</p>
        <p>Кого выбререшь ТЫ !</p>
        <div class="images">
          <div class="images-wrapper">
            <img src="assets/man.jpg" alt="man">
          </div>
          <div class="images-wrapper">
            <img src="assets/noMan.jpg" alt="woman">
          </div>
        </div>
        <p>Войдите или зарегестрируйтесь с помощью соц-сетей:</p>
        <button class="social col s12 waves-effect waves-light btn blue darken-4 ">
          <i class="fab fa-facebook-square"></i>
          Fecebook
        </button>
        <button class="social col s12 waves-effect waves-light btn  blue accent-4">
          <i class="fab fa-google "></i>
          Google
        </button>
      </div>
      <div class=" col l6 border-left right-form">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>