<div class="layout ">
  <div class="container">
    <div class="row">
      <h2 class="center mob-choiser">Choiser</h2>
      <div class="col l6 right-panel">
        <h1 class="center">Choiser</h1>
        <p>Мы рады приветствовать вас на нашем сайте. Ваша
            основная цель выбиться в ТОП.</p>
        <p>Кого выбререшь ТЫ !</p>
        <div class="images">
          <div class="images-wrapper">
            <img src="assets/man.jpg" alt="man">
          </div>
          <div class="images-wrapper">
            <img src="assets/noMan.jpg" alt="woman">
          </div>
        </div>
        <p class="center social-text">Войдите или зарегестрируйтесь с помощью соц-сетей:</p>
        <button 
          mat-raised-button
          color="primary"
          class="social col s12 ">
          <i class="fab fa-facebook-square"></i>
          Fecebook
        </button>
        <button 
          mat-raised-button 
          color="primary" 
          class="social col s12"
        >
          <i class="fab fa-google "></i>
          Google
        </button>
      </div>
      <div class=" col l6 border-left right-form">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>