<section>
  <button mat-icon-button class="menu-btn" (click)="openMenu()">
      <i class="fas fa-bars"></i>
  </button>
  <ng-container *ngIf="!pending; else bigLoader">
    <div class="header">
      <div class="wrapper-avatar">
        <img 
          class="circle" 
          [src]="user.avatar? user.avatar : 'assets/no-user.png'" 
          alt=""
          >
          <div *ngIf="itsMe" class="edit-avatar" (click)="avatarEdit.click()">
            <i class="fas fa-camera"></i>
          </div>
          <input class="d-none" type="file" #avatarEdit (change)="editAvatar($event)">
      </div>
      <div class="header-text">
        <div class="nickname">{{user.nickname}}</div>
        <div class="rating">Рейтинг: <strong>{{user.rating | number:'1.1-4'}}</strong></div>
      </div>
      <div class="menu" *ngIf="itsMe">
        <a 
          matRipple
          [matRippleColor]="white"
          mat-fab 
          class="user-nav-menu" 
          color="primary" 
          routerLink="/edit/user">
          <i class="fas fa-user-edit"></i>
        </a>
        <a 
          matRipple 
          [matRippleColor]="white"
          mat-fab 
          class="user-nav-menu" 
          color="primary" 
          (click)="input.click()">
          <i class="fas fa-plus"></i>
      </a>
        <input #input (change)="onPhotosUpload($event)" class="none" type="file" multiple>
      </div>
    </div>
    <div 
      [swiper]="config" 
      class="carousel-wrapper swiper-container" 
      [ngClass]="{'d-none': uploadPhotos.length > 0 || photos.length < 1}"
      >
      <div class="swiper-wrapper">
        <a *ngFor="let photo of photos;let i = index" class="carousel-item swiper-slide">
          <img class="carousel-item-img" [src]="photo.photo" (click)="open(i)" #slide alt="">
          <div class="item-bottom-panel" *ngIf="photo.stars && itsMe">
            <i *ngFor="let star of photo.stars | fill" class="fas fa-star"></i>
            <i *ngFor="let star of photo.stars | fill:true" class="far fa-star"></i>
          </div>
          <button 
            *ngIf="itsMe"
            mat-mini-fab color="white" 
            (click)="deletePhoto(i, photo)"
            class="delete">
            <i class="fas fa-times "></i>
          </button>
        </a>
      </div>

      <div class="swiper-button swiper-button-prev"></div>
      <div class="swiper-button swiper-button-next"></div>
    </div>
    <ng-container *ngIf="uploadPhotos.length > 0">
      <app-upload-photo [uploadPhotos]="uploadPhotos" [photoFile]="photoFile" (onPhotoLoad)="onPhotoLoad($event)">
      </app-upload-photo>
    </ng-container>

    <div *ngIf="photos.length < 1 && uploadPhotos.length < 1" class="center no-photos">Фотографий пока нет</div>

    <div class="info">
      <h2 class="info-name center">
        {{user.name}} {{user.lastname}}
      </h2>
      <h6 *ngIf="user.region" class="info-text center">
        Учавствует в топе региона "{{user.region}}"
      </h6>
    </div>
  </ng-container>



</section>
<ng-template #bigLoader>
  <div class="bigLoader">
    <div class="flex-center">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  </div>

</ng-template>
<app-photoswiper [openBigPhoto]="openBigPhoto"></app-photoswiper>