<section>
  
  <ng-container *ngIf="!pending; else bigLoader">
    <div class="header">
      <div class="wrapper-avatar">
        <img *ngIf="user.avatar" class="circle" src="user.avatar" alt="">
        <img *ngIf="!user.avatar" class="circle" src="assets/noMan.jpg" alt="">
      </div>
      <div class="header-text">
        <div class="nickname">{{user.nickname}}</div>
        <div class="rating">Рейтинг: <strong>{{user.rating}}</strong></div>
      </div>
      <div class="menu">
        <a routerLink="/edit/user" class="btn-floating btn-large waves-effect waves-light blue">
          <i class="fas fa-user-edit"></i>
        </a>
        <button (click)="input.click()" class="btn-floating btn-large waves-effect waves-light blue">
          <i class="fas fa-plus"></i>
        </button>
        <input #input (change)="onPhotosUpload($event)" class="none" type="file" multiple>
      </div>
    </div> 
    <div class="carousel-wrapper" [ngClass]="{'none': photos.length < 1 || uploadPhotos.length > 0}">
      <div 
        class="carousel" 
        #slider>
        <a 
          *ngFor="let photo of photos;let i = index" 
          class="carousel-item"
          [ngClass]="{'noSlider': !sliderCheck}"
          >
          <img [src]="photo.photo" (click)="open(i)" #slide  alt="">
          <div class="item-bottom-panel" *ngIf="photo.stars">
            <i *ngFor="let star of photo.stars | fill" class="fas fa-star"></i>
            <i *ngFor="let star of photo.stars | fill:true" class="far fa-star"></i>
          </div>
          <button 
            (click)="deletePhoto(i)"
            class="btn-floating btn-small waves-effect waves-light white delete">
            <i class="fas fa-times "></i>
          </button>
        </a>
      </div>
      <button
        *ngIf="sliderCheck" 
        (click)="prevSlide()" 
        class="arrow a-left waves-effect waves-light btn">
        <i class="fas fa-chevron-left"></i>
      </button>
      <button
        *ngIf="sliderCheck" 
        (click)="nextSlide()" 
        class="arrow a-right waves-effect waves-light btn">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>
    <ng-container *ngIf="uploadPhotos.length > 0" >
      <app-upload-photo 
        [uploadPhotos]="uploadPhotos"  
        [photoFile]="photoFile"
        (onPhotoLoad)="onPhotoLoad($event)">
      </app-upload-photo>
    </ng-container>
    
    <div *ngIf="photos.length < 1" class="center">Фотографий пока нет</div>
    
    <div class="info">
      <h2 class="info-name center">
        {{user.name}} {{user.lastname}}
      </h2>
      <h6 *ngIf="user.region" class="info-text center">
        Учавствует в топе региона "{{user.region}}"
      </h6>
    </div>
  </ng-container>
  
  
  
</section>
<ng-template #bigLoader>
  <div class="bigLoader">
    <app-loader></app-loader>
  </div>
  
</ng-template>
<app-photoswiper [openBigPhoto]="openBigPhoto"></app-photoswiper>

