section{
  position: relative;
}

.header{
  padding: .75rem;
  display: flex;
  float: left;
  width: 100%;
}
.wrapper-avatar{
  float: left;
  flex: 0 0 80px;
  height: 80px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover
  }
}
.header-text{
  float: left;
  margin-left: 0.75em;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
}
.nickname{
  font-size: 1.7em;
  width: 100%;
}
.rating{
  font-size: 1em;
  width: 100%;
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 120px;
  i{
    font-size: 1.5em;
    
  }
}
.no-my-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 100px;
  i{
    font-size: 1.5em;
    display: none;
  }
}
strong{
  font-weight: 700;
}
.flex-block{
  display: flex;
  justify-content: space-around;
}
.info{
  display: flex;
  width: 100%;
}
.info-left{
  width: 100%;
}
.info-right{
  flex: 0 0 250px;
  padding: .75em;
}
.info-text{
  padding: 0.75em;
}
.delete{
  position: absolute;
  right: 5px;
  font-size: 1em;
  top: 5px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  i{
    color: #000;
  }
} 
.center{
  float: left;
  width: 100%;
}
.bigLoader{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-none{
  display: none;
}
.wrapper-avatar{
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  &:hover .edit-avatar{
    bottom: 0;
    cursor: pointer;
  }
}
.edit-avatar{
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  position: absolute;
  bottom: -100%;
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
  font-size: 2em;
}
.no-photos{
  padding: .75em 0 0;
}
.user-nav-menu{
  position: relative;
  overflow: hidden;
}
.superLike{
  position: absolute;
  bottom: 36px;
  right: 5px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40.5px;
  height: 36px;
  i{
    font-size: 36px;
    color: #e6d600;
    position: absolute;
    z-index: 5;
  }
  span{
    position: relative;
    z-index: 6;
  }
}

@media(max-width: 1140px){
  .info-right{
    flex: 0 0 74px;
  }
}
@media (max-width: 992px){
  .header{
    padding-left: calc(40px + .75rem)
  }
  button.menu-btn{
    left: 6px;
  }
  .item-bottom-panel{
    bottom: 0;
  }
  .delete{
    opacity: 1;
    visibility: visible;
  }
  
}
@media (max-width: 768px){
  .info{
    flex-wrap: wrap;
  }
  .info-right{
    width: 100%;
    flex: none;
  }
}
@media (max-width: 586px){
  
  .header{
    background: linear-gradient(120deg, #3498db, #8e44ad);
    color: #fff;
    padding: 8px 8px 8px 40px;
  }
  .user-nav-menu{
    background-color: transparent;
    color: #fff;
    box-shadow: none;
  }
  .header-text{
    font-size: 13px;
  }
  .wrapper-avatar{
    flex: 0 0 56px;
    height: 56px;
  }
  button.menu-btn{
    top: 16px;
    left: 0;
  }
  .info-name{
    font-size: 30px;
    padding: 13px 0 13px;
   
  }
  .info-text{
    font-size: 16px;
    margin: 0;
  }
}
@media (max-width: 480px){
  .user-nav-menu{
    font-size: 13px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu{
    flex: 0 0 80px;
  }

}