.layout{
  width: 100%;
  float: left;
  display: flex;
}
main{
  float: left;
  position: relative;
  width: calc(100% - 300px);
  background-color: #fbfbfb;
  padding: .75rem;
}
.navbar{
  width: 300px;
  flex: 0 0 300px;
  z-index: 2;
  position: relative;
  min-height: 100vh;
  box-shadow: -3px 2px 10px 0px #000;
}
