<mat-sidenav-container class="layout" [style.touch-action]="'pan-y'" (swipeleft)="onSwipeLeft($event)">

  <mat-sidenav 
    class="navbar" 
    #sidenav
    [opened]="screenWidth > mobileWidth" 
    [autoFocus]="false"
    [mode]="(screenWidth > mobileWidth) ? 'side' : 'over'"
    >
    <app-navbar  ></app-navbar>
  </mat-sidenav>

  <mat-sidenav-content>

    <main class="swiper-slide" [style.touch-action]="'pan-y'" (swiperight)="onSwipeRigth($event)">
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>

</mat-sidenav-container>


<app-photoswiper *ngIf="appServ.getBigPhoto() | async" ></app-photoswiper>

<app-stepper *ngIf="showStepper" (onDataLoad)="onDataLoad($event)"></app-stepper>