.layout{
  width: 100%;
  float: left;
  display: flex;
}
main{
  float: left;
  position: relative;
  z-index: 2;
  width: 100%;
  background-color: #fbfbfb;
  padding: .75rem;
}
.navbar{
  width: 300px;
  flex: 0 0 300px;
  z-index: 2;
  position: relative;
  min-height: 100vh
}