<ng-container *ngIf="users">

  <ng-container *ngIf="users.data.length > 0; else empty">
    <table mat-table [dataSource]="users" class="rating-table">

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef> Аватар </th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="'../user/' + element._id">
            <img class="circle" [src]="element.avatar? element.avatar : 'assets/no-user.png'" alt="">
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Имя </th>
        <td mat-cell *matCellDef="let element">
          <a class="text" [routerLink]="'../user/' + element._id">
            {{element.name}} "{{element.nickname}}" {{element.lastname}}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef> Рейтинг </th>
        <td mat-cell *matCellDef="let element"> {{element.rating | number:'1.1-4'}} </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-container>

  <ng-template #empty>
    <p class="center" *ngIf="!waitUsers">Пока тут пусто(</p>
  </ng-template>
  

</ng-container>