table{
  width: 100%;
}
.circle{
  width: 55px;
  vertical-align: middle;
  height: 55px;
  object-fit: cover;
}
td.mat-cell{
  vertical-align: middle;
}
a{
  color: #000;
  float: left;
  height: 70px;
  display: flex;
  align-items: center;
}
