<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Вход</h2>
  <p>Еще нет аккаунта? Тогда <a routerLink="../register">зарегестрируйтесь</a></p>
  <div class="input-field col s12">
      <input 
        type="text" 
        id="email" 
        formControlName="email"
        [ngClass]="{'invalid': form.get('email').invalid && form.get('email').touched}"
        >
      <label for="email">Email</label>
      <span 
        class="helper-text red-text"
        *ngIf="form.get('email').errors && form.get('email').touched"
        >
        <span *ngIf="form.get('email').errors.required">
          Введите свой email
        </span>
        <span *ngIf="form.get('email').errors.email && !form.get('email').errors.requaired">
          Введите правильный email
        </span>
      </span>
    </div>
    <div class="input-field col s12">
      <input 
        type="password" 
        id="password" 
        formControlName="password"
        [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}"
        >
      <label for="password">Пароль</label>
      <span 
      class="helper-text red-text"
      *ngIf="form.get('password').errors && form.get('password').touched"
      >
      <span *ngIf="form.get('password').errors.required">
        Введите свой пароль
      </span>
      <span *ngIf="form.get('password').errors.minlength && !form.get('password').errors.requaired">
        Минимум {{form.get('password').errors.minlength.requiredLength}} символов
        сейчас {{form.get('password').errors.minlength.actualLength}}
      </span>
    </span>
    </div>

    <button 
      type="submit"
      class="waves-effect waves-light btn" 
      *ngIf="!loader; else load"
      >Вход
    </button>
    <ng-template #load>
      <div class="center">
        <app-loader></app-loader>
      </div>
    
    </ng-template>

</form>