.row{
  padding-top: 1.5rem;
}
h3{
  text-align: center;
}
.row .m6{
  width: calc(50% - 3rem);
  margin-left: 1.5rem;
}
.center{
  width: 100%;
}
.d-flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
}