<section>
  <button mat-icon-button class="menu-btn" (click)="back()">
    <i class="fas fa-arrow-left"></i>
  </button>
  <h2 class="header-h2">Редактировать профиль</h2>
  <div class="divider"></div>
  <mat-tab-group animationDuration="0ms" *ngIf="user; else bigLoader">
    <mat-tab label="Основное">
      <app-user-data [user]="user"></app-user-data>
    </mat-tab>
    <mat-tab label="Соц-сети">
      <app-social-data [user]="user"></app-social-data>
    </mat-tab>
  </mat-tab-group>



  <ng-template #bigLoader>
    <div class="bigLoader">
      <div class="flex-center">
        <mat-spinner diameter="50"></mat-spinner>
      </div>
    </div>
  </ng-template>
    
  
</section>