<ul class="sidenav sidenav-fixed">
  <h4>Choiser</h4>
  <li>
    <div class="user-view">
      <a routerLink="/user/id" ><img class="circle" src="assets/noMan.jpg"></a>
      <a routerLink="/user/id"  class="text">
        <div class="nickname">CoolNickName</div>
        <div class="myname">John Doe</div>
      </a>
    </div>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a routerLink="/choise" class="links waves-effect">
      <i class="fas fa-mouse-pointer"></i>
      Играть
    </a>
  </li>
  <li>
    <a routerLink="/rating" class="links waves-effect">
      <i class="fas fa-signal"></i>
      Рейтинг
    </a>
  </li>



  <li>
    <a class="links waves-effect">
      <i class="fas fa-door-open"></i>
      Выход
    </a>
    <div class="divider"></div>
    <div class="copyright">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quam quas illo, fuga dignissimos incidunt unde facilis vel asperiores ad et dolor maiores at eum excepturi ea rem exercitationem aliquid.
    </div>

  </li>
  
</ul>