<div class="sidenav sidenav-fixed" (swipeleft)="swipeleft()">
  <h1>Choiser</h1>


  <div class="user-view" *ngIf="user">
    <a [routerLink]="[ '/user', user._id ]">
      <img class="circle" [src]="user.avatar? user.avatar : 'assets/no-user.png'">
    </a>
    <a [routerLink]="[ '/user', user._id ]" class="text">
      <div class="nickname">{{user.nickname}}</div>
      <div class="myname">{{user.name}} {{user.lastname}}</div>
    </a>
  </div>
  <a mat-button routerLink="/choise" class="links ">
    <i class="fas fa-mouse-pointer big-margin"></i>
    Играть
  </a>
  <a mat-button routerLink="/rating" class="links ">
    <i class="fas fa-signal"></i>
    Рейтинг
  </a>
  <a mat-button class="links" (click)="exit()">
    <i class="fas fa-door-open"></i>
    Выход
  </a>
  <div class="copyright">
    © 2019 Choiser
    <br>
    Есть предложения или жалоба на сайт?
    Напиши мне в
    <a target="_blank" href="https://t.me/OhMyTime">телеграм</a>
    или
    <a target="_blank" href="https://www.instagram.com/yaroslav__s__/">инстаграм</a>
    <br>
    <div class="social">
      <a mat-mini-fab color="primary" target="_blank" href="https://www.facebook.com/SYchoiser/">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a mat-mini-fab class="instagram-icon" target="_blank" href="https://www.instagram.com/choiser_official/">
          <i class="fab fa-instagram"></i>
      </a>
      <a mat-mini-fab class="telegram-icon" target="_blank" href="https://t.me/choiser">
        <i class="fab fa-telegram-plane"></i>
      </a>
    </div>
  </div>
</div>