<div class="sidenav sidenav-fixed">
  <h4>Choiser</h4>


  <div class="user-view" *ngIf="user$ | async as user">
    <a [routerLink]="[ '/user', user._id ]">
      <img *ngIf="user.avatar" class="circle" [src]="user.avatar">
      <img *ngIf="!user.avatar" class="circle" src="assets/noMan.jpg">
    </a>
    <a [routerLink]="[ '/user', user._id ]" class="text">
      <div class="nickname">{{user.nickname}}</div>
      <div class="myname">{{user.name}} {{user.lastname}}</div>
    </a>
  </div>
  <a mat-button routerLink="/choise" class="links ">
    <i class="fas fa-mouse-pointer big-margin"></i>
    Играть
  </a>
  <a mat-button routerLink="/rating" class="links ">
    <i class="fas fa-signal"></i>
    Рейтинг
  </a>
  <a mat-button class="links" (click)="exit()">
    <i class="fas fa-door-open"></i>
    Выход
  </a>
  <div class="copyright">
    © 2019 Choiser
    <br>
    Есть предложения или жалоба на сайт?
    Напиши мне в
    <a target="_blank" href="https://t.me/OhMyTime">телеграм</a> 
    или 
    <a target="_blank" href="https://www.instagram.com/yaroslav__s__/">инстаграм</a>
  </div>
</div>