.sidenav{
  transform: translateX(0px);
  z-index: 1;
}
h4{
  font-family: 'Merienda', cursive;
  text-align: center;
  margin: 0;
  color: #000;
  padding: 1.52rem 0 0.912rem 0;
  background: #5433FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.sidenav .user-view{
  padding: 0.75rem 0.75rem 0;
  width: 100%;
  float: left;
  .name{
    margin-top: 0;
  }
}
.divider{
  width: 100%;
}
.sidenav li > a{
  width: 100%;
}
.nickname{
  color: #000;
  font-size: 1.1rem;
  display: flex;
  align-items: flex-end;
}
.myname{
  color: rgb(109, 109, 109);
  font-size: 0.9rem;
}
.user-view{
  display: flex;
  justify-content: flex-start;
}
.text{ 
  margin-left: 0.75rem;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  div{
    width: 100%;
    float: left;
  }
  &:hover{
    cursor: pointer;
  }
}
.sidenav li{
  line-height: inherit;
}
.links{
  font-size: 1.3rem;
  text-transform: uppercase;
}
.sidenav li > a > i, .sidenav li > a > [class^="mdi-"], .sidenav li > a li > a > [class*="mdi-"], .sidenav li > a > i.material-icons{
  display: flex;
  margin: 0 0.75rem 0 0;
  justify-content: center;
}
.bottom{
  position: fixed;
  bottom: 0;
}
.copyright{
  padding: 0.75rem;
}