<form [formGroup]="form">
  
  <mat-form-field class="input-field col s12 m6">
    <input 
      formControlName="region" 
      placeholder="Регион"
      type="text"
      autocomplete="off" 
      matInput
    >
<!-- <span *ngIf="form.get(region).errors">
       Выберите регион из списка
    </span> -->
    </mat-form-field>
    

  <mat-form-field class="input-field col s12 m6">
    <input  placeholder="Город" matInput formControlName="city" type="text" autocomplete="off" >
  </mat-form-field>
</form>
