<div class="upload">
  <div class="center big-fz">
    Загрузить новые фото
  </div>
  <div class="photos">
    <div class="photo" *ngFor="let photo of uploadPhotos; let i = index">
      <img [src]="photo.photo" alt="">
      <button 
        (click)="delete(i)"
        mat-mini-fab
        color="white"
        class="delete">
        <i class="fas fa-times "></i>
      </button>
    </div>
  </div>
  <div class="center" *ngIf="!loader; else load">
    <button 
      mat-flat-button 
      (click)="cancel()"
      >Отмена
    </button>
    <button 
      mat-flat-button 
      color="primary"
      (click)="save()"
      >Сохранить
    </button>
    
  </div>
  <ng-template #load>
    <div class="flex-center">
      <mat-spinner diameter="38"></mat-spinner>
    </div>
  </ng-template>
  
 
</div>